[Unit]
Description=Celery Beat - Perfil Sensorial
After=network.target redis.service

[Service]
User=root
Group=www-data
WorkingDirectory=/root/perfil_sensorial
EnvironmentFile=/root/perfil_sensorial/.env
ExecStart=/root/perfil_sensorial/venv/bin/celery \
    -A perfil_sensorial beat \
    --loglevel=info \
    --logfile=/root/perfil_sensorial/logs/celery_beat.log
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
