[Unit]
Description=Gunicorn - Perfil Sensorial
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/perfil_sensorial
EnvironmentFile=/root/perfil_sensorial/.env
ExecStartPre=/root/perfil_sensorial/venv/bin/pip install -r /root/perfil_sensorial/requirements.txt -q
ExecStart=/root/perfil_sensorial/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    perfil_sensorial.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
