[Unit]
Description=Gunicorn - Perfil Sensorial
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/perfil_sensorial
EnvironmentFile=/home/ubuntu/perfil_sensorial/.env
ExecStart=/home/ubuntu/perfil_sensorial/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    perfil_sensorial.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
